body{
  background: linear-gradient(#7f93e6, #ced8ff);
  justify-content: center;
}

#profile{
  width: 19vw;
  height: 19vw;
  border-radius: 100%;
  border: 3px solid #ced8ff;
  background-image: url('../images/italy-400px.jpg');
  background-size: contain;
  display: inline-block;
  margin-bottom: 1.66666667vw;
}

@media only screen and (orientation: landscape) and (max-width: 1500px) {
  #profile{
    width: 23vw;
    height: 23vw;
    margin-bottom: 1.9vw;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  body{
    padding: 2rem 0 !important;
  }
}

@media only screen and (orientation: portrait) {
  #profile{
    width: 35vw;
    height: 35vw;
    margin-bottom: 3vw;
  }
  main{
    max-width: 90%;
  }
  .leftnav{
    background-color: #7f93e6;
  }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
  #profile{
    width: 40vw;
    height: 40vw;
    margin-bottom: 3.5vw;
  }
}

@media only screen and (orientation: portrait) and (max-width: 400px) {
  #profile{
    width: 45vw;
    height: 45vw;
    margin-bottom: 5vw;
  }
}

@media only screen and (orientation: portrait) and (max-width: 350px) {
  #profile{
    width: 50vw;
    height: 50vw;
    margin-bottom: 5.5vw;
  }
}

/* profile image size queries */

@media only screen and (min-width: 2100px),
(min-width: 1680px) and (-webkit-min-device-pixel-ratio: 1.25),
(min-width: 1680px) and (min-resolution: 120dpi),
(min-width: 1400px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 1400px) and (min-resolution: 144dpi),
(min-width: 1050px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1050px) and (min-resolution: 192dpi),
(min-width: 840px) and (-webkit-min-device-pixel-ratio: 2.5),
(min-width: 840px) and (min-resolution: 240dpi),
(min-width: 700px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 700px) and (min-resolution: 288dpi) {
  #profile{
    background-image: url('../images/italy-800px.jpg');
  }
}

@media only screen and (min-width: 4200px),
(min-width: 3360px) and (-webkit-min-device-pixel-ratio: 1.25),
(min-width: 3360px) and (min-resolution: 120dpi),
(min-width: 2800px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 2800px) and (min-resolution: 144dpi),
(min-width: 2100px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 2100px) and (min-resolution: 192dpi),
(min-width: 1680px) and (-webkit-min-device-pixel-ratio: 2.5),
(min-width: 1680px) and (min-resolution: 240dpi),
(min-width: 1400px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1400px) and (min-resolution: 288dpi) {
  #profile{
    background-image: url('../images/italy-original.jpg');
  }
}