body{
  background: linear-gradient(#7f93e6, #ced8ff);
}

#profile{
  border-radius: 0.4vw;
  //border: 3px solid #333;
  width: 19vw;
  height: 19vw;
  background-image: url('../images/italy.jpg');
  background-size: contain;
  display: inline-block;
  box-shadow: 0 0 1rem rgba(0,0,0,0.21);
  margin-bottom: 2rem;
}