body{
  background: linear-gradient(#7f93e6, #ced8ff);
  justify-content: center;
}

#profile{
  width: 19vw;
  height: 19vw;
  border-radius: 9.5vw;
  border: 3px solid #ced8ff;
  background-image: url('../images/italy.jpg');
  background-size: contain;
  display: inline-block;
  margin-bottom: 2rem;
}