body{
  background: linear-gradient(#000, #121825 33%, #304164 66%, #a77247 90%, #bb7a42);
  color: white;
}

#skyline{
  opacity: 0.5;
}

#halves-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;

  header.full{
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 2em;
  }

  #sectionheader{
    font-size: 3.2rem;
    font-weight: 400;
    margin-top: .675em;
  }
  
  section{
    text-align: left;
    width: 40%;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li{
        font-size: 2.25rem;
        margin: 1em 0;

        .fa-stack{
          font-size: 0.5em;
          margin-right: 0.75em;
          margin-bottom: 0.5em;

          .fa-circle-thin:before {
            display: block;
            width: 1em;
            height: 1em;
            padding-top: 0.3em;
            text-align: center;
            border-radius: 100%;
            border: 2px solid #FFF;
            content: '';
          }
        }

        a{
          opacity: 1;
          transition: 0.2s opacity;

          &:hover{
            opacity: 0.6;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  #halves-container{
    #sectionheader{
      font-size: 2.75rem;
      margin-top: .5em;
    }
    section ul li{
      font-size: 1.875rem;  
    }
  }
}

@media only screen and (max-width: 1200px) {
  #halves-container{
    #sectionheader{
      font-size: 2.4rem;
      margin-top: .375em;
    }
    section ul li{
      font-size: 1.675rem;  
    }
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  main{
    max-width: 60%;
  }
  #halves-container{
    #sectionheader{
      font-size: 2.1rem;
      margin-top: 0em;
    }
    section ul li{
      font-size: 1.3333333rem;
    }
  }
}

@media only screen and (orientation: landscape) and (max-width: 800px) {
  main{
    max-width: 60%;
  }
  #halves-container{
    header.full{
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
    #sectionheader{
      font-size: 1.75rem;
    }
    section ul li{
      font-size: 1.1rem;
      margin: .75em 0;
    }
  }
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
  main{
    max-width: 60%;
  }
  #halves-container{
    #sectionheader{
      font-size: 1.5rem;
    }
    section ul li{
      font-size: 1rem;
      margin: .5em 0;
    }
  }
}

@media only screen and (orientation: portrait) {
  main{
    max-width: 90%;
  }
  .leftnav{
    background-color: #000;
  }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
  #halves-container{
    flex-direction: column;
    #sectionheader{
      font-size: 1.5rem;
    }
    section{
      width: 100%;
      margin-bottom: 1em;
      text-align: center;

      h1{
        font-size: 2.25rem;
      }

      ul li{
        font-size: 1.5rem;
        margin: .5em 0;
      }
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 400px) {
  #halves-container{
    header.full{
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
    #sectionheader{
      font-size: 1.375rem;
    }
    section{
      width: 100%;
      margin-bottom: 1em;
      text-align: center;

      h1{
        font-size: 2rem;
      }

      ul li{
        font-size: 1.25rem;
        margin: .5em 0;
      }
    }
  }
}