body{
  background: linear-gradient(#9CABE6, #c0abc1 25%, #EFAA92);
}

main{
  max-width: 50%;
}

section{
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  padding: 3rem 0;

  &:last-child{
    padding-bottom: 1rem;
  }

  h1{
    font-size: 3.5rem;
  }
  p{
    font-size: 1.75rem;
    margin: 0.5em 0 0 0;
  }
  a.visitlink{
    font-size: 1.75rem;
    margin-top: 0.5em;
    display: inline-block;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.2s;

    &::after{
      content: "\003e";
      padding-left: .25em;
    }

    &:hover{
      opacity: 0.7;
    }
  }
}

.project-images{
  display: inline-block;
  max-width: 90%;

  div.project-image-container{
    width: 100%;
    margin-bottom: .5rem;
    position: relative;
    transition: 0.5s max-height;

    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 0;
      transition: 0.5s opacity;

      &.current-image{
        opacity: 1;
      }
    }
  }

  img.desktop{
    max-width: 100%;
    max-height: 50vh;
  }

  img.mobile{
    max-height: 65vh;
    margin-top: -50vh;
  }

  div.devices{
    text-align: right;
    cursor: default;
    font-size: 0;
    span.device{
      font-size: 1.75rem;
      margin-left: 1.25rem;
      opacity: 0.5;
      transition: opacity 0.2s;
      cursor: pointer;

      &.current-device{
        opacity: 1;
        cursor: default;
      }

      &:hover{
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  main{
    max-width: 60%;
  }
  section{
    h1{
      font-size: 3.125rem;
    }
    p{
      font-size: 1.5rem;
    }
    a.visitlink{
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  section{
    h1{
      font-size: 2.5rem;
      margin: 0.25em 0 0 0;
    }
    p{
      font-size: 1.25rem;
      margin: 0.75em 0 0 0;
    }
    a.visitlink{
      font-size: 1.5rem;
    }
  }
  .project-images div.devices span.device{
    font-size: 1.5rem;
  }
}

@media only screen and (orientation: portrait) {
  main{
    max-width: 90%;
  }
}

@media screen and (orientation:portrait) and (max-width: 500px) {
  section{
    padding: 2rem 0;
    h1{
      font-size: 1.75rem;
    }
    p{
      font-size: 1.1rem;
    }
    a.visitlink{
      font-size: 1.25rem;
    }
  }
  .project-images div.devices span.device{
    font-size: 1.25rem;
  }
}

@media screen and (orientation:portrait) and (max-width: 400px) {
  section{
    padding: 1.75rem 0;
    h1{
      font-size: 1.6rem;
    }
    p{
      font-size: 1.05rem;
    }
    a.visitlink{
      font-size: 1.25rem;
    }
    &:last-child{
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (orientation:portrait) and (max-width: 350px) {
  section{
    padding: 1.5rem 0;
    h1{
      font-size: 1.4rem;
    }
    p{
      font-size: 1rem;
    }
    a.visitlink{
      font-size: 1.1rem;
    }
    &:last-child{
      padding-bottom: 0.5rem;
    }
  }
  .project-images div.devices span.device{
    font-size: 1.125rem;
  }
}