/* typography */
@import url("https://use.typekit.net/njs8out.css"); //typekit!
body{
  font-family: "garamond-premier-pro-caption", "Garamond Premiere Pro Caption", Garamond, Georgia, serif;
}
.sans{
  font-family: "europa", "Europa", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* element styling */
body{
  &#splash{
    background-color: black;
    color: white;
    text-align: center;

    header{

      #logo{
        width: 30%;
      }

      h1{
        font-size: 4.6rem;
        margin-bottom: 0;

        .subname{
          font-weight: 400;
        }
      }

      h2{
        font-size: 2.75rem;
        margin-top: 0.4em;
        margin-bottom: 0;
      }
    }

    nav{
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}