<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wilson Biggs Web Design &amp; Development</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div id="starcontainer" aria-hidden="true">
    <div class="stars small"></div>
    <div class="stars small2"></div>
    <div class="stars medium"></div>
    <div class="stars medium2"></div>
    <div class="stars large"></div>
    <div class="stars large2"></div>
  </div>
  <div id="skyline"></div>
  <header>
    <img id="logo" alt="Wilson Biggs logo" src="images/logo-colored.svg">
    {{> body}}
  </header>
  <nav>
    <ul role="menubar" class="sans">
      <li><a role="menuitem" href="about.html">about me</a></li>
      <li><a role="menuitem" href="projects.html">my projects</a></li>
      <li><a role="menuitem" href="contact.html">get in touch!</a></li>
      <li class="mobile-navitem"><a role="menuitem" href="about.html">about</a></li>
      <li class="mobile-navitem"><a role="menuitem" href="projects.html">projects</a></li>
      <li class="mobile-navitem"><a role="menuitem" href="contact.html">contact</a></li>
    </ul>
  </nav>
</body>
</html>